In [1]:
import pandas as pd
import utils

In [3]:
df = pd.read_csv("C:/Users/m/Desktop/Basic_BigDataPractice/Basic_BigDataPractice/dataset.csv")

In [4]:
print(df.columns)
df.tail()

Index(['loan_amnt', 'int_rate', 'grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'purpose', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'pub_rec',
       'revol_bal', 'total_acc', 'loan_status'],
      dtype='object')

,loan_amnt,int_rate,grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,purpose,dti,delinq_2yrs,inq_last_6mths,pub_rec,revol_bal,total_acc,loan_status
218706,15000,18.49,5,1,9,1,90000.0,0,12,3,25.13,1,0,0,4104,21,1
218707,20000,6.24,1,1,10,4,125000.0,1,12,2,14.20,1,0,0,23880,30,1
218708,31050,21.99,6,1,10,1,875000.0,1,12,3,9.66,1,0,0,25770,13,1
218709,9000,9.17,2,1,1,1,80000.0,1,12,3,3.97,1,0,0,6320,17,1
218710,8000,12.59,3,1,4,3,45000.0,1,12,3,26.21,0,0,0,9097,47,1

In [8]:
utils.heatmap_display(df)

AttributeError: module 'utils' has no attribute 'heatmap_display'